import pandas as pd

course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]

duration = [2,3,6,4]


df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})
## Q1. Write a code to print the data present in the second row of the dataframe, df.

In [1]:
#Ans: 1

import pandas as pd


course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name , 'duration' : duration})

second_row = df.iloc[1]
pd.DataFrame(second_row).T

        course_name duration
1  Machine Learning        3

## Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

#Ans: 2 

In Pandas DataFrame, both loc and iloc are used to access rows and columns of the DataFrame. The main difference between these two functions is the way they handle the indices of the DataFrame.

**loc function:** It is used for label-based indexing. It uses the labels of rows or columns to access data. This function accepts the label of the rows and columns to return the data.

**iloc function:** It is used for integer-based indexing. It uses integer indices of rows or columns to access data. This function accepts integer indices of rows and columns to return the data.


Here is an examples to demonstrate the difference between the two functions:-

In [2]:
df = pd.DataFrame({ 'A': [10, 20, 30, 40], 'B': [100, 200, 300, 400], 'C': [1000, 2000, 3000, 4000] })

loc = df.loc[1:2 , 'B' : 'C']
pd.DataFrame(loc)

     B     C
1  200  2000
2  300  3000

In [3]:
iloc = df.iloc[1:3 , 1:]
pd.DataFrame(iloc)

     B     C
1  200  2000
2  300  3000

loc function is used to access the data using labels of rows and columns. On the other hand, iloc function is used to access the data using integer indices of rows and columns.

## Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].Did you observe any difference in both the outputs? If so then explain it.

In [4]:
df = pd.DataFrame({'A': [10, 20, 30, 40], 'B': [100, 200, 300, 400], 'C': [1000, 2000, 3000, 4000]})

new_index = [3,0,1,2]
new_df = df.reindex(index = new_index)

loc = new_df.loc[2]
pd.DataFrame(loc)

      2
A    30
B   300
C  3000

In [5]:
iloc = new_df.iloc[2]
pd.DataFrame(iloc)

      1
A    20
B   200
C  2000

Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

## Q4. Write a code to find the following statistical measurements for the above dataframe df1: 
**(i) mean of each and every column present in the dataframe.**

**(ii) standard deviation of column, ‘column_2’**

In [6]:
#Ans: 4 
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)


#(i) mean of each and every column present in the dataframe.
print("\nMean of each column in df1:")
print(df1.mean())

Mean of each column in df1:
column_1    0.402304
column_2    0.505729
column_3    0.305165
column_4    0.393645
column_5    0.456897
column_6    0.538976
dtype: float64

In [7]:
#(ii) Standard deviation of column 'column_2' in df1
print("\nStandard deviation of column 'column_2' in df1:")
print(df1['column_2'].std())

Standard deviation of column 'column_2' in df1:
0.18272059144382952

## Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2. If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

## Q6. What do you understand about the windows function in pandas and list the types of windows functions?

#Ans: 6

In Pandas, a window function, also known as a rolling or moving function, is a function that performs a calculation over a sliding window of data in a Series or DataFrame. The window function calculates a summary statistic over a fixed number of preceding or succeeding data points, depending on the window size.

*There are several types of window functions in Pandas:*

**Rolling:** A rolling window function computes a summary statistic over a fixed-size sliding window. The window size can be specified as a number of rows or a time period. Some commonly used rolling window functions include rolling.mean(), rolling.sum(), and rolling.max().

**Expanding:** An expanding window function computes a summary statistic over all data points up to the current point. The size of the window increases with each new data point. Some commonly used expanding window functions include expanding.mean(), expanding.sum(), and expanding.max().

**Exponentially Weighted:** An exponentially weighted window function computes a summary statistic over a sliding window, where the more recent data points are given more weight than the older ones. The weight is determined by a decay factor, which can be specified by the user. Some commonly used exponentially weighted window functions include ewm.mean(), ewm.var(), and ewm.cov().

**Rolling with Time Window:** In this type of window function, the window size is specified in terms of time periods instead of a fixed number of rows. Some commonly used rolling window functions with time window include rolling().mean(), rolling().sum(), and rolling().std()

## Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [8]:
#Ans: 7

current_date = pd.datetime.now()
print("Current month and year:", current_date.strftime("%B %Y"))

Current month and year: April 2023

/tmp/ipykernel_179/2647680559.py:3: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  current_date = pd.datetime.now()

## Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [10]:
#Ans: 8 

date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

#Convert the input strings to datetime objects
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

#Calculate the difference between the two dates using timedelta
time_diff = date2 - date1

#Calculate the difference in days, hours, and minutes
days = time_diff.days
hours = time_diff.seconds // 3600
minutes = (time_diff.seconds // 60) % 60

#Display the result
print("The difference between the two dates is:")
print(f"{days} days, {hours} hours, and {minutes} minutes.")

Enter the first date (YYYY-MM-DD):  2023 05 11
Enter the second date (YYYY-MM-DD):  2023 09 14

The difference between the two dates is:
126 days, 0 hours, and 0 minutes.

## Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [60]:
#Ans: 9

#Prompt the user to enter the file path, column name, and category order
file_path = input("Enter the file path: ")
col_name = input("Enter the column name: ")
cat_order = input("Enter the category order (comma-separated): ")


df = pd.read_csv('services.csv')

# Convert the specified column to a categorical data type with the specified category order
df[col_name] = pd.Categorical(df[col_name], categories=cat_order.split(","), ordered=True)

# Sort the DataFrame by the specified column
df = df.sort_values(col_name)

df.head(4)

Enter the file path:  csv
Enter the column name:  name
Enter the category order (comma-separated):  status

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,NaN,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,NaN,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,NaN,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,NaN,NaN,San Mateo County,active,No wait.,NaN,NaN